{% extends "base.html" %}
{% block title %}My Little Pony: Tails of Equestria{% endblock %}
{% block content %}
<div class="home">
    <div class="banner">
        <img src="/static/images/banner.png" alt="My Little Pony" class="banner-img">
        <h1>🦄 My Little Pony 🦄</h1>
        <h2>Tails of Equestria</h2>
        <p class="subtitle">Et eventyrspil for små ponyer!</p>
    </div>

    <div class="pony-parade">
        <div class="parade-pony">🐴</div>
        <div class="parade-pony">🦅</div>
        <div class="parade-pony">🦄</div>
        <div class="parade-pony">👑</div>
        <div class="parade-pony">🌈</div>
        <div class="parade-pony">✨</div>
        <div class="parade-pony">🌸</div>
        <div class="parade-pony">💕</div>
    </div>

    <a href="/start" class="btn btn-start">🎲 Start Nyt Spil!</a>
</div>
{% endblock %}